// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.notes-list {
    list-style: none;
    padding: 0px;
    margin: 0px;
    margin-top: 25px;
}

.notes-list li {
    border-bottom: 1px solid #000;
}

.notes-list li span.column-1 {
    float: left;
}

.notes-list li span.column-2 {
    float: right;
}

.notes-list li .cleaner {
    clear: both;
}
